{% extends 'notes/base.html' %}


{% block body %}




    <div id="container">
        <div class="colM col-md-5">
            <ul>
            <li><p><a href="/notes/movies/add">Add new movie</a></p>
        {% include "notes/movie_list.html" %}</li><br>
             <li>
              <p><a href="/notes/calendar/add">Add new Calendar Object</a></p>
               {% include "notes/calendar_list.html" %}

             </li><br>
            <li>
              <p><a href="/notes/notes/add">Add new note</a></p>
               {% include "notes/note_list.html" %}

            </li></ul>
        </div>
    </div>

{% endblock %}

